
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 14% 8%;
    --foreground: 0 0% 98%;

    --card: 216 23% 14%;
    --card-foreground: 0 0% 98%;

    --popover: 216 23% 14%;
    --popover-foreground: 0 0% 98%;

    --primary: 252 89% 75%;
    --primary-foreground: 0 0% 100%;

    --secondary: 214 10% 90%;
    --secondary-foreground: 216 23% 14%;

    --muted: 216 23% 14%;
    --muted-foreground: 215 20% 65%;

    --accent: 216 23% 18%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 214 10% 20%;
    --input: 214 10% 20%;
    --ring: 252 89% 75%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-terminal-background text-terminal-text-primary;
    font-feature-settings: "ss01", "ss02", "cv01", "cv02", "cv03";
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold tracking-tight;
  }
  
  /* Terminal Specific Styles */
  .terminal-card {
    @apply bg-terminal-card rounded-md border border-gray-800;
  }
}

@layer utilities {
  .green-indicator {
    @apply text-terminal-accent-green flex items-center space-x-1;
  }
  
  .red-indicator {
    @apply text-terminal-accent-red flex items-center space-x-1;
  }
}
